* {
    color: midnightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: bold;
    color: green;
    text-align: center;
}

.section {
    padding: 25px;
    background-color: lightblue;
}

body {
    background-color: whitesmoke;
}